DASHBOARD_LOGIN_PASSWORD=admin
DASHBOARD_SESSION_SECRET=troque-por-um-segredo-longo-e-aleatorio
NEXT_PUBLIC_SUPABASE_URL=https://qqywotwntsytdjaqfruz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_WH-XfsrRaEP8VQhj5CzMxw_iEn7KVAx
